<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cruel Wolf | Blank Page</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link href="~/Areas/Admin/Content/CSS/all.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/Areas/Admin/Content/CSS/bootstrap-4.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/CSS/adminlte.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/CSS/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/CSS/responsive.bootstrap4.min.css" rel="stylesheet" />
</head>
<body class="hold-transition sidebar-mini">
    @using DTO
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-comments"></i>
                        <span class="badge badge-danger navbar-badge">3</span>
                    </a>
                </li>
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge">15</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header">15 Notifications</span>
                        <div class="dropdown-divider"></div>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="@Url.RouteUrl("Home")" class="brand-link">
                <img src="~/Areas/Admin/Content/tempimage/Logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8;">
                <span class="brand-text font-weight-light">Cruel Wolf</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/Areas/Admin/Content/UserImage/@UserStatic.ImagePath" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">@UserStatic.NameSurname</a>
                    </div>
                </div>

                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Meta -->
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Site Settings
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Admin/Fav/UpdateFav" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Fav Icon Logo Title</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/Meta/MetaList" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Meta List</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/Meta/AddMeta" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Add Meta</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!-- Address -->
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Address
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Admin/Address/AddressList" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Address List</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/Address/AddAddress" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Add Address</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!-- Social Media -->
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Social Media
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Admin/SocialMedia/SocialMediaList" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Social Media List</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/SocialMedia/AddSocialMedia" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Add Social Media</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!-- Ads -->
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Ads
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Admin/Ads/AdsList" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Ads List</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/Ads/AddAds" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Add Ads</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!-- Category -->
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Category
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Admin/Category/CategoryList" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Category List</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/Category/AddCategory" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Add Category</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!-- Post -->
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Posts
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Admin/Post/PostList" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Post List</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Admin/Post/AddPost" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Add Post</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!-- Video -->
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-book"></i>
                            <p>
                                Videos
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/Admin/Video/VideoList" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Video List</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/Admin/Video/AddVideo" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Add Video</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!--Comment-->
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-book"></i>
                            <p>
                                Comments
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/Admin/Video/VideoList" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Video List</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/Admin/Comment/UnapprovedComments" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Unapproved Comments</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    @if (UserStatic.IsAdmin)
                        {
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-book"></i>
                                    <p>
                                        User
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="/Admin/User/UserList" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>User List</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Admin/User/AddUser" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Add User</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-book"></i>
                                    <p>
                                        User
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="/Admin/User/UpdateUser/@UserStatic.UserID" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Update User</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            @RenderBody()
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
            </div>
            <strong>Copyright &copy; 2022 <a href="https://cruelwolf.io">Cruel Wolf</a>.</strong> All rights reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/Areas/Admin/Content/JS/jquery.min.js"></script>
    <script src="~/Areas/Admin/Content/JS/jquery.dataTables.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Areas/Admin/Content/JS/bootstrap.bundle.min.js"></script>
    <script src="~/Areas/Admin/Content/JS/dataTables.bootstrap4.min.js"></script>
    <script src="~/Areas/Admin/Content/JS/dataTables.responsive.min.js"></script>
    <script src="~/Areas/Admin/Content/JS/responsive.bootstrap4.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Areas/Admin/Content/JS/sweetalert2.min.js"></script>
    <script src="~/Areas/Admin/Content/JS/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Areas/Admin/Content/JS/demo.js"></script>
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
                "ordering": false
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true
            });
        });
    </script>
</body>
</html>
