
@{
    ViewBag.Title = "MetaList";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
@model List<DTO.MetaDTO>

<section class="content-header">
    <h1>Meta List</h1>
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>Admin</a></li>
        <li class="breadcrumb-item"><a>Meta</a></li>
        <li class="breadcrumb-item active"><a>Meta List</a></li>
    </ol>
</section>
<br />
<div class="card-footer">
    <button type="submit" class="btn btn-primary" onclick="window.location.href='/Admin/Meta/AddMeta'">Add Meta</button>
</div>

<div class="card">
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Meta Content</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="a_@item.MetaID">
                        <td>@item.Name</td>
                        <td>@item.MetaContent</td>
                        <td align="center" valign="middle">
                            <a href="/Admin/Meta/UpdateMeta/@item.MetaID">
                                <br />
                                <img src="~/Areas/Admin/Content/icons/Update.ico"/>
                            </a>
                        </td>
                        <td align="center" valign="middle">
                            <a href="#">
                                <br />
                                <img src="~/Areas/Admin/Content/icons/Delete.ico" onclick="AskQuestion('/Admin/Meta/DeleteMeta/', @item.MetaID)"/>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Meta Content</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </tfoot>
        </table>
    </div>
    @Html.Partial("~/Areas/Admin/Views/Shared/ModelMessage.cshtml")
    <!-- /.card-body -->
</div>
<!-- /.card -->
<script src="~/Areas/Admin/Content/JS/DeleteRecord.js"></script>